@import "tailwindcss";

*:focus {
  outline: none;
}

.rdp-chevron {
  fill: oklch(76.9% 0.188 70.08) !important;
}

.rdp-caption_label {
  display: inline-block !important;
}

.rdp-caption_label::first-letter {
  text-transform: uppercase !important;
}

.rdp-today:not(.rdp-outside) {
  color: oklch(76.9% 0.188 70.08) !important;;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

@layer components {
  .button {
    @apply text-xl font-semibold rounded-lg p-3 w-full bg-yellow-500 text-white cursor-pointer transition-all duration-500 hover:brightness-90
  }
}